body{
  display: flex;
  justify-content: center;
  background-color: rgb(21, 203, 203);
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  /* background: rgb(30, 30, 30); */
  align-items: center;
  cursor: pointer;
  font-size: 15vh;
}

.board-container {
  font-family: monospace;
  font-size: 3vh;
  width: 50vh;
  color: rgb(34, 34, 173);
  margin: 20px;
  border: 3px solid rgb(73, 75, 191);
  border-radius: 5px;
  text-align: center;
}

